In [1]:
import pandas as pd

In [4]:
repIMM21="/Users/gilles/ownCloud/Recherche/Boye/HDR/Data/L4L/IMM21/"
pd.read_pickle(repIMM21+"Comparaisons-Swim-L4L-Flexique.pkl")["nb precision rappel".split(" ")]

                                         nb  precision     rappel
echantillon paradigme swim  space
00          Mor       Swim1 Stems  169327.0  99.025958  73.610310
                            Forms  169327.0  99.068611  70.534303
                      Swim2 Stems  169327.0  98.806362  77.563068
                            Forms  169327.0  98.864190  76.135640
            Syn       Swim1 Stems  169327.0  98.946817  61.691090
                            Forms  169327.0  99.011798  58.606151
                      Swim2 Stems  169327.0  98.860812  70.550986
                            Forms  169327.0  98.906142  69.496779
01          Mor       Swim1 Stems  153796.0  99.306519  82.816217
                            Forms  153796.0  99.331714  81.468319
                      Swim2 Stems  153796.0  99.273023  90.112096
                            Forms  153796.0  99.276421  89.766623
            Syn       Swim1 Stems  153796.0  99.288525  75.496230
                            Forms  153796.0  99.315887  73.294668
                      Swim2 Stems  153796.0  99.248920  84.257957
                            Forms  153796.0  99.264180  83.444272
02          Mor       Swim1 Stems  201225.0  99.262042  73.765096
                            Forms  201225.0  99.365469  67.806706
                      Swim2 Stems  201225.0  98.993464  85.419056
                            Forms  201225.0  99.054583  82.641662
            Syn       Swim1 Stems  201225.0  99.418587  49.254468
                            Forms  201225.0  99.450259  45.963652
                      Swim2 Stems  201225.0  99.143187  67.766679
                            Forms  201225.0  99.173696  66.190935

In [7]:
pd.read_pickle(repIMM21+"IMM21-02.pkl")

         ortho   phono   lexeme  freq  case  freqcum  tir1
0      gauchir   gOSir  gauchir     1   inf        1     1
1      gauchir    gOSi  gauchir     1  pi3S        1     1
2      gauchir    gOSi  gauchir     1  ppFS        1     1
3      gauchir    gOSi  gauchir     1  ppFP        1     1
4      gauchir    gOSi  gauchir     1  ppMP        1     1
...        ...     ...      ...   ...   ...      ...   ...
49483   tonner    tOna   tonner     1  ai3S        1     1
49484   tonner   tOnEr   tonner     1  ai3P        1     1
49485   tonner   tOnje   tonner     1  ii2P        1     1
49486   tonner     tOn   tonner     1  pi2S        1     1
49487   tonner  tOn6rô   tonner     1  fi3P        1     1

[49488 rows x 7 columns]